.navbar{
   background-color:#287586;
   position:absolute;
   height:811px;
   width: 375px;
   right:90px;
   top:0px;
   color:white;
}

ul{
    list-style:none;
    left:0px;
}

li{
    border-bottom:1px solid white;
    font-size: 19px;
    padding:25px;
}