.navbar{
    background-color:#287586;
    position:fixed;
    height:100%;
    width: 30%;
    right:0px;
    top:0px;
    color:white;
    z-index: 20;
}

ul{
    list-style:none;
    left:0px;
}

li{
    border-bottom:1px solid white;
    font-size: 19px;
    padding:25px;
}

li:hover{
    background-color: #2d98ad;
}

@media (max-width: 1020px) {
    .navbar {
        width: 100%;
    }
}